<ul class="nav-list">
  <li class="nav-list-item active">
    <a href="https://archetypal.github.io/just-the-docs/" class="nav-list-link active">Home</a>
  </li>
  <li class="nav-list-item">
    <a href="https://archetypal.github.io/just-the-docs/docs/configuration/" class="nav-list-link">Configuration</a>
  </li>
  <li class="nav-list-item">
    <a href="#" class="nav-list-expander">
      <svg viewBox="0 0 24 24">
        <use xlink:href="#svg-arrow-right"></use>
      </svg>
    </a>
    <a href="https://archetypal.github.io/just-the-docs/docs/ui-components" class="nav-list-link">UI Components</a>
    <ul class="nav-list ">
      <li class="nav-list-item ">
        <a href="https://archetypal.github.io/just-the-docs/docs/ui-components/typography/" class="nav-list-link">Typography</a>
      </li>
      <li class="nav-list-item ">
        <a href="https://archetypal.github.io/just-the-docs/docs/ui-components/buttons/" class="nav-list-link">Buttons</a>
      </li>
      <li class="nav-list-item ">
        <a href="https://archetypal.github.io/just-the-docs/docs/ui-components/labels/" class="nav-list-link">Labels</a>
      </li>
      <li class="nav-list-item ">
        <a href="https://archetypal.github.io/just-the-docs/docs/ui-components/tables/" class="nav-list-link">Tables</a>
      </li>
      <li class="nav-list-item ">
        <a href="https://archetypal.github.io/just-the-docs/docs/ui-components/lists/" class="nav-list-link">Lists</a>
      </li>
      <li class="nav-list-item ">
        <a href="#" class="nav-list-expander">
          <svg viewBox="0 0 24 24">
            <use xlink:href="#svg-arrow-right"></use>
          </svg>
        </a>
        <a href="https://archetypal.github.io/just-the-docs/docs/ui-components/code/" class="nav-list-link">Code</a>
        <ul class="nav-list">
          <li class="nav-list-item ">
            <a href="https://archetypal.github.io/just-the-docs/docs/ui-components/code/line-numbers/" class="nav-list-link">Code with line numbers</a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li class="nav-list-item">
    <a href="#" class="nav-list-expander">
      <svg viewBox="0 0 24 24">
        <use xlink:href="#svg-arrow-right"></use>
      </svg>
    </a>
    <a href="https://archetypal.github.io/just-the-docs/docs/utilities" class="nav-list-link">Utilities</a>
    <ul class="nav-list ">
      <li class="nav-list-item ">
        <a href="https://archetypal.github.io/just-the-docs/docs/utilities/color/" class="nav-list-link">Color</a>
      </li>
      <li class="nav-list-item ">
        <a href="https://archetypal.github.io/just-the-docs/docs/utilities/layout/" class="nav-list-link">Layout</a>
      </li>
      <li class="nav-list-item ">
        <a href="https://archetypal.github.io/just-the-docs/docs/utilities/responsive-modifiers/" class="nav-list-link">Responsive Modifiers</a>
      </li>
      <li class="nav-list-item ">
        <a href="https://archetypal.github.io/just-the-docs/docs/utilities/typography/" class="nav-list-link">Typography</a>
      </li>
    </ul>
  </li>
  <li class="nav-list-item">
    <a href="https://archetypal.github.io/just-the-docs/docs/navigation-structure/" class="nav-list-link">Navigation Structure</a>
  </li>
  <li class="nav-list-item">
    <a href="https://archetypal.github.io/just-the-docs/docs/customization/" class="nav-list-link">Customization</a>
  </li>
  <li class="nav-list-item">
    <a href="https://archetypal.github.io/just-the-docs/docs/search/" class="nav-list-link">Search</a>
  </li>
  <li class="nav-list-item">
    <a href="https://archetypal.github.io/just-the-docs/docs/index-test/" class="nav-list-link">Markdown kitchen sink</a>
  </li>
  <li class="nav-list-item">
    <a href="https://archetypal.github.io/just-the-docs/metadata/" class="nav-list-link">Metadata</a>
  </li>
</ul>