<ul class="nav-list">
  {% for item in include.nav %}
    <li class="nav-list-item">
      {% if item.nav %}
        <a href="#" class="nav-list-expander">
          <svg viewBox="0 0 24 24">
            <use xlink:href="#svg-arrow-right"></use>
          </svg>
        </a>          
      {% endif %}
      <a 
        {% if page.url == item.url %}id="aa" {% endif %} 
        class="nav-list-link" href="{{ item.url | absolute_url }}"
      >
        {{ item.title }}
      </a>
      {% if page.url == item.url %}
        <script>
          var element = document.getElementById("aa");
          element.classList.add("active");
        </script> 
      {% endif %}

      {% if item.nav %}
        {% include nav.html nav=item.nav %}
      {% endif %}
    </li>
  {% endfor %}
</ul>